<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists, Indexing, Slice and List Methods**

#List
* have dynamic length (means no limit)
* heterogenous data types(multiple data types)
* indexing
  * positive 0 to n-1
  * negative -1 to length
* slicing
  * start: int include
  * end: int n-1
  * step: int sequence

In [ ]:
names = ["Ali", "Muhammad", "Umer"]
print(names)
print(type(names))

['Ali', 'Muhammad', 'Umer']
<class 'list'>

In [ ]:
#index start from 0
names = ["Ali", "Muhammad", "Umer"]
#          0      1            2
print(names[2])
print(type(names[2]))

Umer
<class 'str'>

In [ ]:
char : list[str] = list('muhammmad' )
print(char)

['m', 'u', 'h', 'a', 'm', 'm', 'm', 'a', 'd']

In [ ]:
#slice means isolation
#default slicing from left to right

characters : list[str] = ['m', 'u', 'h', 'a', 'm', 'm', 'm', 'a', 'd']

print(characters[0:5]) # 0 start : 5-1
print(characters[:4]) # if we don't give any number all the indexes are included
print(characters[-7:-4])
print(characters[0:2:1])
print(characters[0:2])

['m', 'u', 'h', 'a', 'm']
['m', 'u', 'h', 'a']
['h', 'a', 'm']
['m', 'u']
['m', 'u']

# Step

In [ ]:
characters: list[str] = list("abcdef")
print(characters)

print(characters[::])

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
chr : list[str] = ['a', 'b', 'c', 'd', 'e', 'f']

print(chr[::-1]) #start from last and include all

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#                  0     1    3    4    5    6
chr : list[str] = ['a', 'b', 'c', 'd', 'e', 'f']
#                  -6   -5   -4   -3   -2   -1
print(chr[1:-3])  # start include: -3-1=-4

['b', 'c']

In [ ]:
from typing import Any
random: list[Any] = ["Ali", 12, True]
print(random)

del random[1]

print(random)

['Ali', 12, True]
['Ali', True]

If the valueis passing to the variable then it is a return function (id())

: else it is a non-return function (print())

In [ ]:
x : str = print("jhsdjfhskj") #print is non-return function
display(x)

jhsdjfhskj

None

In [ ]:
x : str = id(random) #return function
display(x)

135230829623168

In [ ]:
# list methods

[i for i in dir(list) if "_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#To get help in python
*   call help function help(object)
*   object?
*   object??
*   ?object
*   ??object

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
random: list[Any] = ["Ali", 12, True]
print(random)

# pop delete last index by default
x: str = random.pop()
print(x)

x: str = random.pop(0)
print(x)

print(random)

['Ali', 12, True]
True
Ali
[12]

In [ ]:
random: list[Any] = ["Ali", 12, True]
print(random)

#append add things at the end of list
x : str = random.append("Apple")
print(x)

x : str = random.append("Apple")
print(x)

print(random)

['Ali', 12, True]
None
['Ali', 12, True, 'Apple']

In [ ]:
random: list[Any] = ["Ali", 12, True]
print(random)

#insert add things at particular positions
random.insert(2,"New")
print(random)

['Ali', 12, True]
['Ali', 12, 'New', True]

In [ ]:
print(print("sdfg"))

sdfg
None

In [ ]:
a : list[str] = [1,2,3,34,5]
del a # delete entire object from the memory
print(a)

NameError: name 'a' is not defined

In [ ]:
'''If we want to keep only varaible and want to delete its value
we use clear function'''

a : list[int] = [1,2,3,34,5]
a.clear()

print(a)

[]

In [ ]:
a : list[str] = ["a", "b", "c", "d"]
b = a #shallow copy (memory location copy or copy by refrence)

print(a)
print(b)

b.insert(3, "new")

#a and b both have same values because b refers to same memory, modifying bactually means to modify a

print(a)
print(b)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'e', 'd']
['a', 'b', 'c', 'e', 'd']

In [ ]:
a : list[str] = ["a", "b", "c", "d"]
b = a.copy() #deep copy

b[3]="new"

print(a)
print(b)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'new']

In [ ]:
#count

c : list[str] = list("​​Asallam Allikum")
x = c.count("l")
y = c.count("A")

print(x)
print(y)

4
2

In [ ]:
names : list[str] = ["ali", "Alif"]
new_list : list[str] = ["Farman", "Muhammad"]

names.append(new_list) #append function add the last index whatever data type the data has like if we have list it will add a list as it is

names

['ali', 'Alif', ['Farman', 'Muhammad']]

In [ ]:
#extend
names : list[str] = ["ali", "Alif"]
new_list : list[str] = ["Farman", "Muhammad"]

names.extend(new_list)
names

['ali', 'Alif', 'Farman', 'Muhammad']

In [ ]:
names : list[str] = ['ali', 'Alif', 'Farman', 'Muhammad']
names.remove("ali") #remove text value

names

['Alif', 'Farman', 'Muhammad']

In [ ]:
names : list[str] = ['ali', 'Alif', 'Farman', 'Muhammad','ali','ali']
x = names.index("ali",3) #index always give us first occurance

print(x) #The index() method starts searching for "ali" from the element at index 3 in the names list and give us the first occurance index of "ali"

4

In [ ]:
#reverse
names : list[str] = ['ali', 'Alif', 'Farman', 'Muhammad']
names.reverse() #in-memory means change real data, the data inside the physical memory will updated

names

['Muhammad', 'Farman', 'Alif', 'ali']

In [ ]:
#sort
names : list[str] = ['ali', 'Alif', 'Farman', 'Muhammad']
names.sort() #in-memory means change real data sort
# sort() arrange data in ascending order

names

['Alif', 'Farman', 'Muhammad', 'ali']

**note:**
the reverse() doesn't sort backward alphabetically; it will reverse the list
items

In [ ]:
#if we have to sort in descending order

names : list[str] = list("abcdef")
print(names)

names.sort(reverse=True)
names

['a', 'b', 'c', 'd', 'e', 'f']

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#index error
names : list[str] = list("abcdef")
print(len(names))
names[7]

6

IndexError: list index out of range

**Note:**

remove() is used to remove to first occurance of the value from the list, while pop() is used to remove an element at a specified index (or the last element if no index is specified) and returns that element.