<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/Class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identity Operators

* 0 is    returns true if both are the same object in memory

* 1 is not  returns true if both are not the same object in memory

In [ ]:
x: str = "abc"
y: str = "bcd"

print(id(x))
print(id(y))

x is not y
x is y

139535551418608
139535123120368

False

# Logical Operators

and
or

In [ ]:
True and True and True and True  # all conditions should be true AND operator

False

In [ ]:
True and False and True and True #returns false

In [ ]:
True or False or True or True #OR operator

True

In [ ]:
name: str = "Ali"
print(not name=="Ali") #false

False

In [ ]:
name: str = "Ali"
print(name=="Ali") #true

True

In [ ]:
name != name

False

In [ ]:
name==name

True

# In operator

In [ ]:
alphabets : list[str] = [chr(i) for i in range(65, 91)]
print(alphabets)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
char : list[str] = [chr(i) for i in range(65, 91)]
print(char)
#before in operator we find in range like this

for i in range(len(char)):
  print(i, char[i])
  if char[i] == "A":
    print("True")
    break

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
0 A
True

In [ ]:
# Now we find like this

"A" in char

True

In [ ]:
"A" not in char

False

**is and is not:**

These operators check whether two variables or objects refer to the same memory location.

**==:**

This operator checks if the values of two variables or objects are equal.

## Input Function
Take user input runtime

In [ ]:
names : list[str] = ['Ali', 'Muhammad', 'Hafiz']

user_input : str = input("Enter Your Name: ")

user_input in names

Enter Your Name: Muhammad

True

# Operators' Precedence in Python
PEMDAS (Power Exponent Multiplication Division Addition Subtraction)

In [ ]:
print(4 + 5 - 6 * 3 / 2 % 4)

8.0