<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehensions, Tuples, For Loops, and the unique For-Else construct**

* iteration performing
* applying operations on element

In [2]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

names

['Ali', 'Muhammad', 'Alif']

In [3]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)

Ali
Muhammad
Alif

In [4]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(f'Hello {name.title()}')
  print("Learning python\n")

print("hi")  #not part of loop

Hello Ali
Learning python

Hello Muhammad
Learning python

Hello Alif
Learning python

hi

In [5]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names[:2]: #slicing we can perform anything with specific element
  print(name)

Ali
Muhammad

In [6]:
database : list[tuple(str, int)] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

In [ ]:
# how to unzip data
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  user, password = i
  print(user, password)

In [ ]:
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i
  if input_user == user and input_password == password:
    print("Valid user")
    break

In [ ]:
database : list[tuple[str, str]] = [('ali', '12'),
                                    ('Ali', '34')
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i
  if input_user == user and input_password == password:
    print("Valid user")
    break

else:
    print("InValid User")

In [ ]:
database : list[tuple[str, str]] = [('ali', '12'),
                                    ('Ali', '34')
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i #('ali', '12')
  if input_user == user and input_password == password:
    print("Valid user")
    break

else:
    print("InValid User")

In [ ]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)
  break
else:    #elseblock execute when all the iteration successfully performed in for loop
  print("hello")

In [ ]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)
  break
print("hello")

# Errors

* Indentation error
* Syntax error

In [ ]:
#Indentation error
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
print(name)

In [ ]:
#Syntax error
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names
  print(name)

In [ ]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name.upper())

In [ ]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(f"hello, {name.upper()}")

print(f"hello {name.upper()}! Are you learning python?")

**Note:**
The local variable is accessible only in the function's block.
In python, the speciality of the loop is that whatever is inside the loop the last varaible is accessible from the outside the loop body.

# Numbers with Loop
  range(start, end, step)

In [7]:
range(10)
# range is a generator function, it means we should give start and end to this.
# Generator function do not run directly.

range(0, 10)

In [8]:
list(range(10)) #start = 0 and end = n-1
#when we enter first value, by default it lasts until its one minus, when single value is inserted
# then it run till one minus

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(2,21,3))  #start = 2, end = (21-1), step =3

[2, 5, 8, 11, 14, 17, 20]

In [14]:
for n in range(2,21,3):
  print(n)

2
5
8
11
14
17
20

In [15]:
names: list[str] = ["ali", "Muhammad", "Hafiz"]

list(enumerate(names)) #enumerate function returns the index with the element

[(0, 'ali'), (1, 'Muhammad'), (2, 'Hafiz')]

In [16]:
names: list[str] = ["ali", "Muhammad", "Hafiz"]

for index, name in enumerate(names):
  print(index, name)

0 ali
1 Muhammad
2 Hafiz

In [18]:
for n in range(1, 11):
  print(f'{2} x {n} = {n*2}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [19]:
squares: list[int] = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#List comprehensive

'''
for item in items:
   loop_body
'''

#Comprehensive sytle

'''
loop_body for item in items
'''