<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehensions, Tuples, For Loops, and the unique For-Else construct**

* iteration performing
* applying operations on element

In [2]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

names

['Ali', 'Muhammad', 'Alif']

In [11]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)

In [13]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(f'Hello {name.title()}')
  print("Learning python\n")

print("hi")  #not part of loop

Hello Ali
Learning python

Hello Muhammad
Learning python

Hello Alif
Learning python

hi

In [15]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names[:2]: #slicing we can perform anything with specific element
  print(name)

Ali
Muhammad

In [18]:
database : list[tuple(str, int)] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

TypeError: tuple expected at most 1 argument, got 2

In [17]:
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

('ali', 12)
('Ali', 34)

In [19]:
# how to unzip data
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  user, password = i
  print(user, password)

ali 12
Ali 34

In [24]:
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i
  if input_user == user and input_password == password:
    print("Valid user")
    break

Enter username: ali
Enter user password: 12

In [33]:
database : list[tuple[str, str]] = [('ali', '12'),
                                    ('Ali', '34')
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i
  if input_user == user and input_password == password:
    print("Valid user")
    break

else:
    print("InValid User")

Enter username: Ali
Enter user password: 34
Valid user

In [32]:
database : list[tuple[str, str]] = [('ali', '12'),
                                    ('Ali', '34')
                                   ]
input_user : str = input("Enter username: ")
input_password : str = input("Enter user password: ")

for i in database:
  user, password = i #('ali', '12')
  if input_user == user and input_password == password:
    print("Valid user")
    break

else:
    print("InValid User")

Enter username: h
Enter user password: 23
InValid User

In [36]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)
  break
else:    #elseblock execute when all the iteration successfully performed in for loop
  print("hello")

Ali

In [37]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)
  break
print("hello")

Ali
hello