<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehensions, Tuples, For Loops, and the unique For-Else construct**

* iteration performing
* applying operations on element

In [2]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

names

['Ali', 'Muhammad', 'Alif']

In [11]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(name)

In [13]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names:
  print(f'Hello {name.title()}')
  print("Learning python\n")

print("hi")  #not part of loop

Hello Ali
Learning python

Hello Muhammad
Learning python

Hello Alif
Learning python

hi

In [15]:
names : list[str] = ["Ali", "Muhammad", "Alif"]

for name in names[:2]: #slicing we can perform anything with specific element
  print(name)

Ali
Muhammad

In [18]:
database : list[tuple(str, int)] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

TypeError: tuple expected at most 1 argument, got 2

In [17]:
database : list[tuple[str, int]] = [('ali', 12),
                                    ('Ali', 34)
                                    ]
for i in database:
  print(i)

('ali', 12)
('Ali', 34)