<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name: str = "rose"
print(f'hello {name}')

hello rose

In [ ]:
# loop syntax
'''
for local_variable in iteratable_type:
  your logic
'''

In [4]:
from typing import List
names: List[str] = ["abc", "cde", "fgh", "ijk", "lmn"]
for name in names:
  print(f'hello {name}')

  # f string allows you to write dynamic values inside string

hello abc
hello cde
hello fgh
hello ijk
hello lmn

In [6]:
from typing import List
names: List[str] = ["abc", "cde", "fgh", "ijk", "lmn"]
print(f'hello {names}')

hello ['abc', 'cde', 'fgh', 'ijk', 'lmn']

# Tuple


*   Iterateable type
*   Unchangeable item

In [8]:
from typing import Tuple

dimensions: Tuple[int, int] = (100, 4)
print(dimensions)

print(dimensions[0])
print(dimensions[1])

(100, 4)
100
4

In [9]:
from typing import Tuple

dimensions: Tuple[int, int] = (100, 4)

dimensions[0] = 20
print(dimensions)

TypeError: 'tuple' object does not support item assignment

In [10]:
from typing import Tuple

dimensions: Tuple[int, int] = (100, 4)
for dimension in dimensions:
  print(dimension)

100
4