<a href="https://colab.research.google.com/github/aatika-hakim/Python/blob/main/Python_Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **String method, f-string, jinja**

In [ ]:
#Concatenation in python

"a" + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + str(2)

'a2'

In [ ]:
msg : str = 'What's the matter?'
print(msg)

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-1-dc5aa24beeab>, line 3)

In [ ]:
#for converting special character into simple character, place \ before character

msg : str = 'What\'s the matter?'
print(msg)

What's the matter?

**\ for continue line**

In [ ]:
print(7 + \
      2 + \
      5)

14

In **Python**, there are **three types** bold text bold textof quotes that can be used to define string literals: **single quotes **( ' ' ), **double quotes** ( " " ), and **triple quotes** (' ' ' or " " ").

---

Single Quotes (') and Double Quotes (")

In [ ]:
single : str = 'This is a string with single quotes.'
double : str = "This is a string with double quotes."

print(single)
print(double)

This is a string with single quotes.
This is a string with double quotes.

Triple Quotes (''') or("""), used for define multi-line strings

In [ ]:
data = """
Name: John Doe
Age: 30
Occupation: Software Engineer
Location: New York City
"""

print(data)

Name: John Doe
Age: 30
Occupation: Software Engineer
Location: New York City

In [ ]:
# wrong way to concate in triple quotes
name : str = "Ali"

data = """
Name: +${name}
Age: 30
Occupation: Software Engineer
Location: New York City
"""

print(data)

Name: +${name}
Age: 30
Occupation: Software Engineer
Location: New York City

In [ ]:
# concate
name = "Ali"

data = """
Name: {}
Age: 30
Occupation: Software Engineer
Location: New York City
""".format(name)

print(data)

Name: Ali
Age: 30
Occupation: Software Engineer
Location: New York City

Recommended method
**F-string**
We use it for concatenation in triple quotes

---
F-strings support complex expressions and function calls within the curly braces.

---

In [ ]:
name:str = "Ali"
age:int = 30
profession:str = "Developer"
City:str = "Lahore"

data = f'''
Name: {name} \n
Age: {age}
profession: {profession}
Location: {City}

#variable
sum = {23 + 23 + 45 + 56 + 34}
'''
print(data)

Name: Ali

Age: 30
profession: Developer
Location: Lahore

#variable
sum = 181

In [ ]:
x = 10
y = 20
print(f"The sum of {x} and {y} is {x + y}.")

The sum of 10 + 20 = 30.

### python provide two styles for string formatting

*   f-string
*   jinja

In [ ]:
x : str = 'python'

# f-string
f_str = f'''I am learning {x}'''
print(f_str)

# jinja, do not work directly it work with html
jinja = """I am learning {{x}}"""
print(jinja)

I am learning python
I am learning {{x}}

In [ ]:
name:str = "Ali"
age:int = 30
profession:str = "Developer"
City:str = "Lahore"

#concatenation
data = f'''
Name: %s
Age: %d
profession: %s
Location: %s
'''%(name, age, profession, City)
print(data)

Name: Ali
Age: 30
profession: Developer
Location: Lahore

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
Name : str = "Rose Marry"

print(Name.capitalize())
print(Name.lower())
print(Name.split(sep=None, maxsplit=-1))

Rose marry
rose marry
['Rose', 'Marry']

In [ ]:
a = 7
b = 8

# {} called placeholder
'Tha value of a = {} and value of b = {}'.format(a,b)

'Tha value of a = 7 and value of b = 8'

In [ ]:
# we got wrong data at placeholders
name:str = "Ali"
age:int = 30
profession:str = "Developer"
City:str = "Lahore"

data = '''
Name: {}  #0
Age: {}   #1
profession: {} #2
Location: {}   #3
'''.format(name, City, age, profession)
#           0      1    2     3
print(data)

Name: Ali
Age: Lahore
profession: 30
Location: Developer

In [ ]:
name:str = "Ali"
age:int = 30
profession:str = "Developer"
City:str = "Lahore"

data = '''
Name: {0}
Age: {1}
profession: {2}
Location: {3}
'''.format(name, City, age, profession)
#           0      1    2     3
print(data)

Name: Ali
Age: Lahore
profession: 30
Location: Developer

In [ ]:
name:str = "Ali"
age:int = 30
profession:str = "Developer"
City:str = "Lahore"

data = '''
Name: {a}
Age: {c}
profession: {d}
Location: {b}
'''.format(a=name, b=City, c=age, d=profession)

print(data)

Name: Ali
Age: 30
profession: Developer
Location: Lahore

###Methods and attributes of string

pre-defined global functions
*   print
*   type
*   dir
*   len
*   id

# Syntax of function
variable_name.method()

In [ ]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(len(a))
print(type(a))
print(id(a))

47
<class 'list'>
139699443520000
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']